/*******************************************************************************
 Add your custom css styles here
 *******************************************************************************/


#shopgrid {
    overflow: scroll !important;
    outline: none;
    height: auto;
    background: #fff;
}

#whitebg {
    background: #fff;
}

#spacing {
    margin: 50px;
}




.prints-container {
    width:100%;
    margin: auto auto;
    text-align: center;
    display: block;
}

.print {
    display: inline-block;
}

.prints-image {
    width: 30%;
    margin: 5px;
    padding: 5px;
    text-align: center;
    
}