/*******************************************************************************
 Add your custom css styles here
 *******************************************************************************/


#shopgrid {
    overflow: scroll !important;
    outline: none;
    height: auto;
    background: #fff;
}

#whitebg {
    background: #fff;
}

#spacing {
    margin: 50px;
}




.prints-container {
    width:100%;
    margin: auto auto;
    text-align: center;
    display: block;
}

.print-left {
    display: inline-block;
    float:right;
    margin: 10px;
}
.print-right {
    display: inline-block;
    float:left;
    margin:10px;
}

.prints-image {
    width: 30%;
    margin: 5px;
    padding: 5px;
    text-align: center;
    
}

.price_title {
     font-size:20px;
    color:white;
}

.price_item {
    letter-spacing: 2px;  
    font-size: 16px;
    color: white;
}


.p_horizontal_prints {
	float:left;
	width:100%;
	position:relative;
 	height: 200px; 
}