/* MAIN */

html {
    overflow-x:hidden !important;
    height:100%;
    background-color: white;
}

body{
    margin: 0;
    padding: 0;
    font-family: Big Caslon,adobe-caslon-pro,serif;
    font-weight: 300;
    font-size: 12px;
    color: #000;
    background:white;
    height:100%;
}


/* CONTAINERS */
.container {
    max-width:100%;
    max-height:100%;
    margin:auto;
    position:relative;
    display:inline-block;
    padding: 0 !important;
}

.tilecontainer {
    width:100%;
    margin-right:auto;
    margin-left:auto;
    position:relative;
}


/* HERO BANNER */
.heroimgs {
    position: inherit;
    width:105%;  
    overflow: hidden;
}


.heroimgs img {
    top: 0;
    display:block;
    float:left;
    max-width: 110%;
    margin-left: -2em;
}

#herouggs {
    position: absolute;
    overflow: hidden;
    z-index: 3;
}

#spacejam:hover {
    
}


#bottom-p {
    margin-top: 20px !important;
}


/* LOGOS */

.logo {
    text-align: center;
    margin: 30px auto;
}

.logo img {
    width:20%
}


#rewardslogo {
    width:40%;
    margin: auto;
}


/* GRID TILES */ 

.tile {
    opacity: 0;
    transform: translateY(2em);
    transition: all 2.5s linear 0s;
}

.tile.show {
    opacity: 1;
}

a {
    text-decoration: none;
}

.product {
    background: url(assets/kids_orange_main.png);
    width:100%;
    height: 100%;
    overflow:hidden;
}

/* Hidden Product name labels */
.hidden-label {
    color: black;
    background-color: #DFE0E1;  
    bottom: 0;
}

/* Double tile is for the rows that have two product tiles */
.doubletile {
    background-color: white;
/*    border: 1px dashed black;*/
}

.doubletile img {
    margin:auto;
    max-width: 70%;
    background-color: #F8F9FA;
}

/* Triple tile is for infant r2d2 tile */
.tripletile {
    background-color: #F8F9FA;
}

.tripletile img {
    margin:auto;
    max-width: 70%;
    background-color: #F8F9FA;
}

.rewards {
    margin: 20px auto;
    width: 70%;
    display:block;
    text-align: center;
}

.rewards + img {
    margin: 20px;
}

.rewards-bot {
    margin: 0 auto !important;
    width: 100% !important;
}

.rewards-top {
    margin: 30px auto 0 auto !important;
}

.rewards-bot p {
    width: 85% !important;
}


/* Wide and Tall are for sizing the 3 imgs for the infant shoes */
#childwidth {
    padding: 20% auto;
    width: 35%;
}

.wide {
    padding: 20% auto;
    width: 35%;
}

.tall {
    padding: 20% auto;
    width: 20%;
}

/* Grey background for tiles */
.grey {
    background-color: #F8F9FA;
}

/* Floating Tiles left and right in desktop view */
#right {
    float: right !important;
}
#left {
    float: left;
}

/* Ugg Font for titles and headers */
.title {
    font-family: Big Caslon,adobe-caslon-pro,serif;
    font-weight: 300
}

/* Ugg Font for paragraphs and subheadings */
.subtitle { 
    width: 75%;
    font-family: proxima-nova,sans-serif;
    font-weight:100;
    letter-spacing: 1px;
    line-height: 1.7;
    font-size: 10px;
    text-transform: uppercase;
}

.center{
    text-align: center;
}

.center p {
    display: inline-block
}

.md-margin {
    margin: 20px auto;
}

.sm-margin {
    margin: 10px auto;
}


/* For any elements that need to hide from Desktop view */
#hideondesktop {
    visibility: hidden;
    clear: both;
    display: none;
}


.product-holder {
    margin: 0 auto;
    position: relative;
    float:right;
}

.product-holder h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #E0E0E0;
    color: black;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 10%;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: proxima-nova,sans-serif;
    font-weight:600;
    letter-spacing: 1px;
    line-height: 1.7;
    font-size: 10px;
    text-transform: uppercase;
    opacity:0;
}

.product-left {
    right: auto !important;
    left:0;
}

.product-img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: auto;
    padding: 0;
    background-position: center top;
}

.hundred {
    width: 100% !important;
}

/* Mobile Devices */
@media all and (max-width: 778px){
    
    .hundred {
        width: 70% !important;
    }
    
    .product-holder h3 {
        margin-left:15%;
        right: auto !important;
    }
    
    .tripletile {
        background-color: white !important;
    }
    
    #childwidth {
        padding: 0 !important;
        width: 70% !important;
        max-width: 70% !important;    
    }
    
    #right {
        float: none !important;
    }
    
    /* Hide
    Intro paragraph above hero banner
    Child's r2d2 boots triple
    */
    #hideonmobile {
        visibility: hidden;
        clear: both;
        display: none;
    }
    
    /* Show
    Intro paragraph underneath hero banner
    Child's r2d2 boots single
    */
    #hideondesktop {
        visibility: visible;
        clear: both;
        display: block;
    }
}


/*----------*/


.pulse{
    background:transparent url(assets/blackout.png) repeat top center;
    z-index:1;
    position:absolute;
    overflow:hidden;
    width: 1500px;
    height: 1000px;
    display:block;
    -moz-animation:spin 20s linear infinite;
    -ms-animation:spin 20s linear infinite;
    -o-animation:spin 20s linear infinite;
    -webkit-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
    animation-play-state: paused;

}


/*

@-ms-keyframes spin { 
    from { 
        -ms-transform: rotate(0deg); 
    } to { 
        -ms-transform: rotate(360deg); 
    }
}
@-moz-keyframes spin { 
    from { 
        -moz-transform: rotate(0deg); 
    } to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(0deg); 
    } to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
*/


@keyframes spin {
    from {background-position:0 0;}
    to {background-position:0px 1000px;}
}
@-webkit-keyframes spin {
    from {background-position:0 0;}
    to {background-position:0px 1000px;}
}
@-moz-keyframes spin {
    from {background-position:0 0;}
    to {background-position:0px 1000px;}
}
@-ms-keyframes spin {
    from {background-position:0 0;}
    to {background-position:0px 1000px;}
}



